@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.App {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
